lecture4/airline/airline/__pycache__/
lecture4/airline/db.sqlite3
lecture4/airline/flights/__pycache__/
lecture4/airline/flights/migrations/
lecture4/flights.sql

lecture6/singlepage1/singlepage1/__pycache__
lecture6/singlepage1/sectionExample1/migrations/
lecture6/singlepage1/db.sqlite3
lecture6/singlepage1/sectionExample1/__pycache__

lecture6/singlepage1/posts/migrations/
lecture6/singlepage1/posts/__pycache__

lecture7/__pycache__
lecture4/airline/users/__pycache__/
lecture7/selenium/__pycache__